
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.header{
    background-color:#16b48dff; /* color de fondo azul que tienes */
    height: 110px; /* ajusta según tu diseño */
    display: flex;
    /*justify-content: center; /* centra horizontalmente */
    align-items: center;     /* centra verticalmente */
}

.logocontenedor{
    display: flex;              /* Permite apilar elementos vertical u horizontalmente */
    flex-direction: column;     /* Apila los elementos uno debajo del otro */
    align-items: center;        /* Centra la columna horizontalmente */
    margin-left: 20px;          /* Puedes ajustar para mover todo a la derecha */
}

.textos{
    display: flex;
    flex-direction: column;     /* Apila los textos uno debajo del otro */
}
.logo{
    display: flex;
    flex-direction: column;
    width: 40px;
    height: auto;
    margin-right: 95px;         /* Pequeño espacio entre logo y texto */
    margin-top: 15px;
    }

.textologo{
    font-family:sans;
    font-size: 30px;
    margin: 0px;                /* Quita cualquier margen que separe del logo */
    color:#0f7c1eff;
}

.texto2logo{
    font-family:sans;
    font-size: 15px;
    margin-top: 0px;
    color:#ffffff
}

.menu{
    display: flex;              /* convierte el contenedor en flex */
    gap: 15px;                  /* separa automáticamente los elementos */
    font-family:serif;
    font-size: 20px;
    /*color: white;*/
    margin-left: 550px;
    margin-top: 40px;
}

.link{
    color:#ffffff
}
.link:hover{
    color:chocolate
}

.bienvenidocontenedor{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 20px;
}
.bievenido{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    font-weight:700;
    color:#5eb805;
    margin-top: 5px;
}

.tuespaciocontenedor{
    display: flex;
    flex-direction: column;
    width: 85%;
    margin: auto;
    margin-top: 10px;
    height: 10px;
}
.tuespacio{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    text-align: justify;
}

.fontlista{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    font-weight: 500;
}

.logo2contenedor{
    display: flex;
    align-items: center;
    height: 240px;
    margin-left: 5px;
    margin-top: -10px;
    gap: 10px;

}
.logo2{
    width: 30px;
    height: auto;
    }
.Porque{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    font-weight: 500;
}

img{
    width: 25px;
}

#face{
    width: 15px;
}

#tiktok{
    width: 15px;
}

#salud{
    width: 350px;
}

.container{
   max-width: 120p;
    margin: 0 auto;
}

.footer{
    background-color: azure;
    padding: 10px 0;
}

.footer-row{
    display: flex;
    flex-wrap: wrap;
}

.footer-links{
    width: 25%;
    padding: 0 15px;
}

.footer-links h4{
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: 500;
    border-bottom: 2px solid #000000;
   
}

.footer-links ul a{
    font-size: 18px;
    color: #000000;
    transition: all .3 ease;
}

.footer-links ul a:hover{
    color: #3d3d3d;
    padding-left: 6px;
}